body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #333;
    text-align: center; /* Centraliza o título */
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    text-align: left;
}

button, input[type="button"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover, input[type="button"]:hover {
    background-color: #45a049;
}

.exercises-container {
    max-width: 800px;
    margin: 0 auto;
}

.exercise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.exercise .question {
    flex: 1;
    margin-right: 10px;
    text-align: left; /* Alinha o texto da pergunta à esquerda */
}
